[Unit]
Description=Minr.online Frontend
After=network.target

[Service]
Environment="PORT=3001"
EnvironmentFile=/etc/minr-frontend.env
WorkingDirectory=/var/www/minr-online/frontend
ExecStart=pnpm start
Restart=always
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target

